@media (min-width: 481px) {
  .hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .hero-text {
      h1 {
        font-size: 28px;
        margin-top: 50px;
      }
      p {
        font-size: 16px;
      }
    }
  }
  .menu-container {
    li a {
      color: black;
    }
  }
  .treatment-section {
    display: grid;
    .treatment-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      .treatment-card {
      }
    }
  }
  .welcome-section {
    .welcome-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      .welcome-text {
      }
    }
  }
  .choose-section {
    background: var(--white) !important;
    .choose-container {
      flex-direction: row !important;

      .choose-image {
        img {
          object-fit: none;
        }
      }
      .choose-test {
        margin-left: 20px;
        h2 {
          margin: 0 !important;
        }
        .choose-description div {
          margin: 10px 0;
        }
        button {
          margin: 0;
        }
      }
    }
  }
  .choose-section2 {
    .choose2-container {
      display: flex;
      .choose-test {
        margin-right: 50px;
      }
      .choose-image {
        img {
          margin-top: 100px;
          max-inline-size: none;
          width: auto;
        }
      }
    }
  }
  .client-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .client {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 70%;
      text-align: center;
    }
    .client2 {
      max-width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }
  .faq-section {
    .faq-container {
      p {
        text-align: center;
        max-width: 70%;
      }
    }
  }
  .learn-section {
    .learn-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-align: center;
      align-items: center;
      .learn-text {
        margin-right: 50px;
      }
      .learn-image {
        margin-top: 100px;
        width: 100%;
        max-inline-size: none;
      }
    }
  }
  .treatment2-section {
    .treatment2-container {
      display: grid;
      gap: 20px;
      grid-template-columns: 1fr 1fr;
      .treatment-card {
      }
    }
  }
  .appointment-section {
    .appointment-container {
      margin: 0 50px;
      .appointment-description {
      }
    }
  }
  .welcome-section {
    .welcome-container {
      .welcome-text {
        margin: 0 50px;
      }
    }
  }
  .learn-section {
    .learn-container {
      margin: 0 50px;
      .learn-text {
      }
    }
  }
  .about-section {
    .about-text {
      display: flex;
      width: 50%;
      .about-description {
        h1 span {
          margin: 20px;
        }
        h2 {
          margin: 20px 0;
        }
      }
      .doc-image {
        img {
          max-inline-size: none;
          width: 1000%;
          margin-left: 30px;
          height: 100%;
        }
      }
    }
  }
  .specialist-section {
    .specialist-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    P {
      max-width: 400px;
    }
    .doc-description {
      display: flex;
      .doc-image img {
        margin-right: 30px;
      }
      .p {
        text-align: none;
        color: var(--body-color);
      }
    }
  }
  .latest-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      max-width: 400px;
    }
    .latest-container {
      display: flex;
      .latest-image {
        width: 40%;
        margin-right: 50px;
      }
      .latest-descrip p {
        color: var(--body-color);
      }
    }
  }
  .login-section {
    .login-container {
      .login-text {
      }
    }
  }
}
